<div class="c-config-content-vertical">
    <span style="margin-left:10px">Text</span>
	<format-color-picker id="textColor" property="textColor" config="config"></format-color-picker>
	<label style="margin-top:8px">
        <input type="number" class=""
               ng-model="config.fontSize">   Text Size<br />
    </label> 
    <label style="margin-top:8px">
        <input type="checkbox" class="c-config-checkbox"
               ng-model="config.showTitle">Show Title<br />
    </label>    
    <br />  
    <span style="margin-left:10px">Background</span>
	<format-color-picker id="backgroundColor" property="backgroundColor" config="config"></format-color-picker>
    <br />
    <span style="margin-left:10px">Plot Area</span>
	<format-color-picker id="plotAreaFillColor" property="plotAreaFillColor" config="config"></format-color-picker>
    <br />
    <span style="margin-left:10px">Data Series</span>
	<format-color-picker id="seriesColor" property="seriesColor" config="config"></format-color-picker>
    <br /> 
	<br />
	<br />
	<br />
	<br /> 	
	<br /> 	
	<br /> 	
	<br /> 		
</div>